@font-face {
  font-family: "Montserrat";
  src: url("./fonts/Montserrat.ttf");
}

@font-face {
  font-family: "Ubuntu";
  src: url("./fonts/Ubuntu.ttf");
}

@font-face {
  font-family: "Gluten";
  src: url("./fonts/Gluten-ExtraBold.ttf");
}

body {
  all: unset;

  font-family: "Ubuntu";
}
